## 2. Data acquisition and cleaning

### 2.1. Data Source :

#### Import necessary Libraries

In [1]:
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup as bs

In [39]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

Libraries imported.

#### 2.1.1.Data Table : Sofia Quarter and Postalcode

In [94]:
url='http://www.guide-bulgaria.com/SW/sofia-city/stolichna/sofia?t=postcodes'
html = requests.get(url).text
soup =bs(html,'lxml')
mylist= soup.find('div',{'class':'nine columns txt'}).find_all('li')
my_data=[]
mylist=[x.text.strip() for x in mylist]
my_data.append(mylist)
my_data=np.array(my_data).T.tolist()
df = pd.DataFrame(my_data,columns=["Data"])
new= df["Data"].str.split(' : ', n = 1, expand = True) 
df["Quarter"]= new[0]
df["Postalcode"]= new[1]
df.drop(columns =["Data"], inplace = True) 
df["Quarter"]= df["Quarter"].str.split(' ',n=1,expand=True).get(1)
df

               Quarter   Postalcode
0              Bakston         1618
1            Banishora         1233
2           Beli brezi         1680
3            Benkovski         1278
4               Borovo         1680
5             Botunets         1870
6               Boyana         1616
7         Chelopechene         1853
8           Darvenitsa         1756
9             Dianabad         1172
10         Dragalevtsi         1415
11            Drujba 1         1592
12            Drujba 2         1582
13           Fakulteta         1373
14          Filipovtsi         1390
15           Geo Milev         1574
16         Gorna Banya         1614
17          Gorublyane         1138
18       Gotse Delchev         1404
19       Hadji Dimitar         1510
20           Hipodruma         1612
21          Hladilnika         1407
22        Hristo Botev         1517
23            Iliantsi         1271
24          Ivan Vazov         1408
25              Izgrev         1113
26               Iztok         1113
27            Knyajevo         1619
28      Krasna Polyana         1330
29         Krasno Selo         1618
30         Kremikovtsi         1849
31              Lagera         1612
32              Levski         1836
33            Lozenets  1164 / 1421
34            Lyulin 1         1360
35           Lyulin 10         1335
36            Lyulin 2         1343
37            Lyulin 3         1336
38            Lyulin 4         1359
39            Lyulin 5         1359
40            Lyulin 6         1336
41            Lyulin 7         1324
42            Lyulin 8         1336
43            Lyulin 9         1324
44         Malashevtsi         1225
45     Malinova Dolina         1797
46  Manastirski Livadi         1404
47           Mladost 1  1750 / 1784
48           Mladost 2         1799
49           Mladost 3         1712
50           Mladost 4         1715
51  Moderno predgradie         1360
52           Motopista         1404
53         Musagenitsa         1797
54             Nadejda         1220
55           Nadejda 3         1229
56           Nadejda 6         1231
57              Obelya         1387
58            Obelya 2         1326
59         Ovcha kupel         1618
60       Ovcha kupel 2         1632
61             Pavlovo         1618
62            Poduyane         1517
63            Poligona         1784
64              Reduta         1505
65           Republika         1301
66           Seslavtsi         1808
67           Simeonovo         1434
68             Slatina         1574
69      Stefan Karadja         1510
70         Strelbishte         1404
71     Studentski grad         1700
72         Suhata Reka         1505
73             Suhodol         1362
74       Sveta Troitsa         1309
75             Trebich         1298
76           Vrajdebna         1839
77             Yavorov  1111 / 1110
78     Zaharna fabrika         1345
79        Zapaden Park         1373
80           Zona B-18         1309
81           Zona B-19         1330
82            Zona B-5         1303

##### Use Nominatim to get geo coordinate for each quater (Test one quater works)

In [53]:
address = 'Lyulin 2, Sofia, Bulgaria'

geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(address)

latitude = location.latitude
longitude = location.longitude
print(latitude, longitude)

42.7256471 23.2501109

####  2.1.2.Get geocode for each quarter

In [106]:
quartergeo=[]
latitude = []
longitude = []

for quarter in df["Quarter"]:
    try:
        inputAddress = '{},Sofia, Bulgaria'.format(quarter)
        geolocator = Nominatim(user_agent="foursquare_agent")
        location = geolocator.geocode(inputAddress,timeout=20)
        quartergeo.append(quarter)
        latitude.append(location.latitude)
        longitude.append(location.longitude)
    except:
        latitude.append('NA')
        longitude.append('NA')
        print('Error, skipping address...')

df_geocodes = pd.DataFrame({'Quartergeo':quartergeo, 'Latitude':latitude,'Longitude':longitude})
df_geocodes.head()

Error, skipping address...
Error, skipping address...
Error, skipping address...
Error, skipping address...
Error, skipping address...
Error, skipping address...

   Quartergeo Latitude Longitude
0     Bakston  42.6655     23.27
1   Banishora  42.7104   23.3101
2  Beli brezi  42.6683   23.5991
3   Benkovski  42.7396   23.3461
4      Borovo  42.6694   23.2864

In [74]:
df_geocodes.head()

   Quartergeo Latitude Longitude
0     Bakston  42.6655     23.27
1   Banishora  42.7104   23.3101
2  Beli brezi  42.6683   23.5991
3   Benkovski  42.7396   23.3461
4      Borovo  42.6694   23.2864

In [113]:
left=df
right=df_geocodes
result = pd.merge(left, right, how='left', left_on='Quarter', right_on='Quartergeo')
result.drop(['Quartergeo'],axis=1,inplace=True)
result.dropna(inplace=True)
result['Latitude']= pd.to_numeric(result['Latitude'], errors='coerce')
result['Longitude']= pd.to_numeric(result['Longitude'], errors='coerce')
result = result[result['Longitude'].notna()]
result.reset_index(drop=True, inplace=True)
result

               Quarter   Postalcode   Latitude  Longitude
0              Bakston         1618  42.665486  23.269969
1            Banishora         1233  42.710366  23.310076
2           Beli brezi         1680  42.668338  23.599139
3            Benkovski         1278  42.739596  23.346105
4               Borovo         1680  42.669376  23.286375
5             Botunets         1870  42.739428  23.511576
6               Boyana         1616  42.646214  23.266749
7         Chelopechene         1853  42.732674  23.472598
8           Darvenitsa         1756  42.653300  23.361832
9             Dianabad         1172  42.662874  23.347948
10         Dragalevtsi         1415  42.630344  23.313248
11           Fakulteta         1373  42.694377  23.267152
12          Filipovtsi         1390  42.719928  23.221510
13           Geo Milev         1574  42.679996  23.362870
14         Gorna Banya         1614  42.678024  23.238154
15          Gorublyane         1138  42.628689  23.408469
16       Gotse Delchev         1404  42.664669  23.296839
17       Hadji Dimitar         1510  42.259366  23.828149
18           Hipodruma         1612  42.681536  23.295866
19          Hladilnika         1407  42.661604  23.315194
20        Hristo Botev         1517  42.688949  23.383933
21          Ivan Vazov         1408  42.677917  23.308493
22              Izgrev         1113  42.670481  23.351794
23               Iztok         1113  42.672496  23.357001
24      Krasna Polyana         1330  42.692156  23.282940
25         Krasno Selo         1618  42.673659  23.282501
26         Kremikovtsi         1849  42.784303  23.499576
27              Lagera         1612  42.684787  23.290161
28              Levski         1836  42.670104  23.607035
29            Lozenets  1164 / 1421  42.673454  23.325685
30            Lyulin 1         1360  42.728653  23.254175
31           Lyulin 10         1335  42.715139  23.272975
32            Lyulin 2         1343  42.725647  23.250111
33            Lyulin 3         1336  42.721172  23.246625
34            Lyulin 4         1359  42.717806  23.243309
35            Lyulin 5         1359  42.715169  23.238704
36            Lyulin 6         1336  42.711618  23.252646
37            Lyulin 7         1324  42.712356  23.263453
38            Lyulin 8         1336  42.721563  23.261108
39            Lyulin 9         1324  42.719010  23.266471
40         Malashevtsi         1225  42.714511  23.347627
41     Malinova Dolina         1797  42.634093  23.348000
42  Manastirski Livadi         1404  42.658158  23.279380
43           Mladost 1  1750 / 1784  42.652947  23.373399
44           Mladost 2         1799  42.644237  23.369960
45           Mladost 3         1712  42.646302  23.384784
46           Mladost 4         1715  42.629765  23.377944
47  Moderno predgradie         1360  42.724762  23.277341
48           Motopista         1404  42.668136  23.293650
49         Musagenitsa         1797  42.663221  23.363839
50             Nadejda         1220  42.751682  23.314530
51           Nadejda 3         1229  42.751682  23.314530
52           Nadejda 6         1231  42.751682  23.314530
53              Obelya         1387  42.742643  23.265865
54            Obelya 2         1326  42.746073  23.276539
55         Ovcha kupel         1618  42.677847  23.262216
56       Ovcha kupel 2         1632  42.686671  23.244130
57             Pavlovo         1618  42.665486  23.269969
58            Poduyane         1517  42.707065  23.368428
59            Poligona         1784  42.664017  23.379473
60              Reduta         1505  42.691933  23.360139
61           Republika         1301  42.733736  23.241573
62           Seslavtsi         1808  42.783171  23.517580
63           Simeonovo         1434  42.619836  23.338262
64             Slatina         1574  42.686790  23.398696
65      Stefan Karadja         1510  42.694038  23.323238
66         Strelbishte         1404  42.672870  23.300022
67     Studentski grad         1700  42.650478  23.347341
68         Suhata Reka         1505  42.700852  23.367812
69             Suhodol         1362  42.696164  23.222577
70       Sveta Troitsa         1309  42.830606  22.639987
71             Trebich         1298  42.771602  23.314985
72             Yavorov  1111 / 1110  42.685008  23.348325
73     Zaharna fabrika         1345  42.716942  23.291906
74        Zapaden Park         1373  42.703555  23.279888
75           Zona B-18         1309  42.704275  23.302842
76           Zona B-19         1330  42.698007  23.299019

In [114]:
result.shape

(77, 4)

In [90]:
address = 'Sofia, Bulgaria'
geolocator = Nominatim(user_agent="on_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Sofia are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of Sofia are 42.6978634, 23.3221789.

#### 2.1.3. Use Foursquare to get Sofia venue data

##### Define Foursquare Credentials and Version

In [95]:
CLIENT_ID = 'TKGWHMQGKH04YK4SERDJT0BAWNXEZAV5NGL5GACBCNDE4USU' # your Foursquare ID
CLIENT_SECRET = 'UEUZN2RRMSKQQOUM0AEYKH5VO022EPFDMMPAPGKO4ZLTG3ZH' # your Foursquare Secret
VERSION = '20180604'
LIMIT = 30
print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: TKGWHMQGKH04YK4SERDJT0BAWNXEZAV5NGL5GACBCNDE4USU
CLIENT_SECRET:UEUZN2RRMSKQQOUM0AEYKH5VO022EPFDMMPAPGKO4ZLTG3ZH

In [96]:
result.loc[0, 'Quarter']

'Bakston'

In [98]:
quarter_latitude = result.loc[0, 'Latitude'] # latitude value
quarter_longitude = result.loc[0, 'Longitude'] # longitude value

quarter_name = result.loc[0, 'Quarter'] # quarter name

print('Latitude and longitude values of {} are {}, {}.'.format(quarter_name, 
                                                               quarter_latitude, 
                                                               quarter_longitude))

Latitude and longitude values of Bakston are 42.6654864, 23.269969.

##### First, let's create the GET request URL.

In [99]:
radius=500
limit=100
url= 'http://api.foursquare.com/v2/venues/explore?client_id={}&client_secret={}&ll={},{}&v={}&radius={}&limit={}'.format(CLIENT_ID,
        CLIENT_SECRET,
        quarter_latitude,quarter_longitude,
        VERSION,
        radius,
        limit)

In [101]:
jresults = requests.get(url).json()

In [102]:
# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

In [103]:
venues = jresults['response']['groups'][0]['items']
    
nearby_venues = json_normalize(venues) # flatten JSON

# filter columns
filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
nearby_venues =nearby_venues.loc[:, filtered_columns]

# filter the category for each row
nearby_venues['venue.categories'] = nearby_venues.apply(get_category_type, axis=1)

# clean columns
nearby_venues.columns = [col.split(".")[-1] for col in nearby_venues.columns]

nearby_venues.head()

                       name      categories        lat        lng
0                    Аванти    Liquor Store  42.665564  23.272955
1  Млекарницата на Добрев 4     Cheese Shop  42.664005  23.266223
2          Ресторант Слънце      Restaurant  42.664546  23.266423
3   Сладкарница Сладки Идеи            Café  42.669091  23.269640
4            Dekora.Fashion  Clothing Store  42.663667  23.265996

In [109]:
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            limit)
            
        # make the GET request
        jresults = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in jresults])
        
    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Quarter', 
                  'Quarter Latitude', 
                  'Quarter Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [115]:
Sofia_venues = getNearbyVenues(names=result['Quarter'],
                                   latitudes=result['Latitude'],
                                   longitudes=result['Longitude']
                                  )

Bakston
Banishora
Beli brezi
Benkovski
Borovo
Botunets
Boyana
Chelopechene
Darvenitsa
Dianabad
Dragalevtsi
Fakulteta
Filipovtsi
Geo Milev
Gorna Banya
Gorublyane
Gotse Delchev
Hadji Dimitar
Hipodruma
Hladilnika
Hristo Botev
Ivan Vazov
Izgrev
Iztok
Krasna Polyana
Krasno Selo
Kremikovtsi
Lagera
Levski
Lozenets
Lyulin 1
Lyulin 10
Lyulin 2
Lyulin 3
Lyulin 4
Lyulin 5
Lyulin 6
Lyulin 7
Lyulin 8
Lyulin 9
Malashevtsi
Malinova Dolina
Manastirski Livadi
Mladost 1
Mladost 2
Mladost 3
Mladost 4
Moderno predgradie
Motopista
Musagenitsa
Nadejda
Nadejda 3
Nadejda 6
Obelya
Obelya 2
Ovcha kupel
Ovcha kupel 2
Pavlovo
Poduyane
Poligona
Reduta
Republika
Seslavtsi
Simeonovo
Slatina
Stefan Karadja
Strelbishte
Studentski grad
Suhata Reka
Suhodol
Sveta Troitsa
Trebich
Yavorov
Zaharna fabrika
Zapaden Park
Zona B-18
Zona B-19

2

In [116]:
print(Sofia_venues.shape)
Sofia_venues.head()

(1418, 7)

,Quarter,Quarter Latitude,Quarter Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Bakston,42.665486,23.269969,Аванти,42.665564,23.272955,Liquor Store
1,Bakston,42.665486,23.269969,Млекарницата на Добрев 4,42.664005,23.266223,Cheese Shop
2,Bakston,42.665486,23.269969,Ресторант Слънце,42.664546,23.266423,Restaurant
3,Bakston,42.665486,23.269969,Сладкарница Сладки Идеи,42.669091,23.269640,Café
4,Bakston,42.665486,23.269969,Dekora.Fashion,42.663667,23.265996,Clothing Store

#### 2.1.4. Use Foursquare to get Paris 11e  venue data

In [124]:
address = '110 avenue parmentier, 75011 paris'

geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(address)

p_latitude = location.latitude
p_longitude = location.longitude
print(p_latitude, p_longitude)

48.8672018 2.3732749

In [125]:
radius=500
limit=100
url= 'http://api.foursquare.com/v2/venues/explore?client_id={}&client_secret={}&ll={},{}&v={}&radius={}&limit={}'.format(CLIENT_ID,
        CLIENT_SECRET,
        p_latitude,p_longitude,
        VERSION,
        radius,
        limit)
jresults = requests.get(url).json()

In [126]:
# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

In [128]:
venues = jresults['response']['groups'][0]['items']
    
paris11_venues = json_normalize(venues) # flatten JSON

# filter columns
filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
paris11_venues =paris11_venues.loc[:, filtered_columns]

# filter the category for each row
paris11_venues['venue.categories'] = paris11_venues.apply(get_category_type, axis=1)

# clean columns
paris11_venues.columns = [col.split(".")[-1] for col in paris11_venues.columns]

paris11_venues.shape

(100, 4)

In [129]:
paris11_venues.head()

               name    categories        lat       lng
0  Le 11ème Domaine      Wine Bar  48.866896  2.373664
1            Tannat    Restaurant  48.868529  2.371895
2         Pili-Pili           Bar  48.867029  2.374910
3            Krügen      Creperie  48.868263  2.373917
4    Le Tiki Lounge  Cocktail Bar  48.868317  2.371210